.search_input {
  height: 45rpx;
  padding: 10rpx;
  background-color: var(--themeColor);
}
.search_input navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
